.contact-form {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-size: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #e6ebef, white);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}