.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    left:0;
    right:0;
    top:0;    
    z-index: 10001;
    height: 48px;
    padding: 4px 48px;
    font-size: 24px;
    border-bottom: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    overflow: hidden;
}

.logo-name-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .company-name {
        display: none;
    }

    .header-container {
        padding: 4px 24px;
    }
}