.content-container {
	padding: 0;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 16px;
}

.sections-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	max-width: 1000px;
	width: 100%;
	margin-top: 60px;
}

section {
	color: black;
	text-align: left;
	margin: 0 240px;
	padding: 16px 0;
	transform-style: preserve-3d;
	z-index: 1;
	width: 100%;
}

.home-section-container {
	display: flex;
	gap: 32px;
}

.home-section-right {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.home-section-left {
	display: flex;
	max-width: 500px;
	margin-right: 32px;
	border-radius: 48px;
	overflow: hidden;
	border: 2px solid #555;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	img {
		width: 100%;
	}
}

.card {
	background-color: #e6ebef;
	padding: 16px;
	border-radius: 8px;
	border: 2px solid #555;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 1280px) {
	.content-container {
		padding: 60px 144px 0;
	}

	.home-section-left {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.content-container {
		padding: 0 120px;
	}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.card {
		max-width: 100%;
	}

	.content-container {
		padding: 0 24px;
	}
}

@media screen and (max-width: 480px) {
	.card {
		max-width: 100%;
	}

	.content-container {
		padding: 0 12px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 16px;
	}
}